@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

:root {
    --max-width: 1440px;
    --width: 100%;
    /* Shades of White */
    --clr-white-1: hsl(0, 0%, 100%);
    --clr-white-2: hsl(0, 0%, 98%);
    --clr-white-3: hsl(0, 0%, 95%);
    /* Shades of Green */
    --clr-green-1: hsl(152, 86%, 55%);
    --clr-green-2: hsl(152, 86%, 45%);
    --clr-green-3: hsl(151.6, 100%, 33.14%);
    /* Shades of Red */

    /* Shades of Black */
    --clr-black-1: hsl(0, 0%, 0%);
    --clr-black-2: hsl(0, 0%, 6%);
    --clr-black-3: hsl(0, 0%, 9.9%);
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    max-width: var(--max-width);
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC',
        sans-serif;


}

nav {
    background: var(--clr-white-1);
    
}

nav .container-fluid ul li{
    font-size: 20px;
    font-weight: 600;

} 



.cc-carousel {
    width: 70%;
    height: 70%;
    object-fit: fill;
}

.cc-home {
  
    transform: translateX(-10rem);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

}

.onlinemedia {
    width: 20rem;

}

.mobilepost {
    width: 20rem;

}

.contact{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    padding: 5rem 5rem 10rem 5rem;
}
.contact-top{
    background-image: url("./component/asset/photo-1485770958101-9dd7e4ea6d93.jfif");
    /* width: 100vw; */
    color: var(--clr-white-1)

}

.contact-head{
    height: 140vh;
    padding-top: 8rem;
    text-align: center;
}

.contact-body{
    width: 50%;
    border: 1px solid gray;
    padding:2rem;
}
    

.about_us {
    padding: 8rem 8rem 0 8rem;

}

footer {
    background: var(--clr-green-3);
    
}
.footer-text{
    margin-left: 5rem;

}